<br>
<div class="card-header">
    <a href="/post"><button type="submit" class="makeButton">Make A New Post</button></a>
    <br>
       Your Posts:

  <div class="card-body">
    
  
    {{#each posts as |post|}}
      <div class="card">
    <div class="card-body">
        <h5 class="card-title"><a href="/dashboard/edit/{{id}}">{{post_title}}</a></h5>
        <p class="card-text">{{post_content}}</p>
    </div>
</div>
    {{/each}}
  
  
</div>


