 <div class="card">
        <h5 class="card-header">Create New Post</h5>
        <form class="card-body">
          <div class="mb-3">
            <label for="postTitle" class="form-label">Post Title:</label>
            <input type="text" class="form-control" id="postTitle">
          </div>
          <div class="mb-3">
            <textarea class="form-control" id="newPost" rows="3" placeholder="enter blog post content here"></textarea>
          </div>
          <button type="submit" class="btn btn-dark mb-3" id="postSubmit">Submit new Post</button>
        </form>
      </div>

      <script src="/js/addPost.js"></script>