 <div class="nes-container is-rounded m-4">

        <h1 class="nes-text is-primary">Create New Post</h1>

        <form class=" m-4"><label class="form-label">Post Title:</label>

          <div class="nes-container is-rounded m-4">
            <input type="text" class="form-control" id="postTitle">
          </div>
          
          <form class=" m-4"><label class="form-label">Write Post:</label>

          <div class="nes-container is-rounded m-4">
            <textarea class="form-control" id="newPost" rows="3"></textarea>
          </div>

          <button type="submit" class="nes-btn is-success" id="postSubmit">Submit new Post</button>

        </form>
      </div>

      <script src="/js/addpost.js"></script>