<div class="nes-container is-rounded m-4">
  <h1 class="nes-text is-error">Your Posts:</h1>
  <a href="/dashboard/create"><button type="submit" class="nes-btn is-success">Create New Post</button></a></br>

  <div>
    {{#if posts.length}}
      {{#each posts as |post|}}
        {{> user-post post}}
     {{/each}}
    {{/if}}
  </div>
  
</div>
