<div class="text-center m-2 nes-container is-rounded">
    </br>
    <h1 class="nes-text is-error ">TECH BLOG</h1>
{{#if posts.length}}
{{#each posts as |post|}}
<div class="text-center"></br>
    {{> single-post post}}
</div>
{{/each}}
{{/if}}
</div>