<div class="text-center p-5">
    <h1>TECH BLOG</h1>
</div>
 
<div class="m-1 d-flex justify-content-center align-items-center m-5">
    <form class="form text-center m-2 nes-container is-rounded" style="background-color: lightgrey">
    <div class="nes-text content m-2 p-2">

      <div class="nes-field m-2">
        <label for="name_field" class="nes-text is-success">Email</label>
        <input type="text" id="login-email" class="nes-input" style="width: 400px;">
      </div>

      <div class="nes-field m-2">
        <label for="name_field" class="nes-text is-success">Password</label>
        <input type="password" id="login-password" class="nes-input" style="width: 400px;">
      </div>
    
   <div class="m-5">
     <button id="submit" type="submit" class="login-form">login</button>
    
   </div>
    <div class="m-1">
      <a type="button" class="signup-form" href="/signup">Sign Up</a>
    </div>

<script src="/js/login.js"></script>