 <div class="m-1 d-flex justify-content-center align-items-center m-5">
      <div class="form text-center m-2 nes-container is-rounded">
        <h5 class="nes-text is-primary">Log in</h5>
        <form class="card-body">
          <div class="m-3">
            <label class="form-label">Email address: </label>
            <input type="email" class="form text-center m-2 nes-container is-rounded" id="login-email">
          </div>
          <div class="m-3">
            <label class="form-label">Password:</label>
            <input type="password" class="form text-center m-2 nes-container is-rounded" id="login-password">
          </div>
          <button type="submit" class="nes-btn is-success" id="login">Login</button> 
          <a type="button" class="nes-btn is-primary" href="/signup">Sign Up</a>
        </form>
      </div>

<script src="/js/login.js"></script>

