{{> single-post post}}


{{> comments post.comments}}

<div class="nes-container is-rounded m-4">

  <h5 class="nes-text is-primary">Write a comment</h5>
    <textarea class="form-control" id="newComment" rows="3"></textarea></br>
    <button type="button" class="nes-btn is-warning" id="addComment">Post a comment</button>

</div>

<script src="/js/commentpost.js"></script>
