<div class=" m-5 d-flex justify-content-center align-items-center">
<form class="form text-center m-5 nes-container is-rounded" style="background-color: lightgrey">
  <h1 class="m-5">Sign Up</h1>
  <div class="nes-text content m-5">

      <div class="nes-field m-3">
        <label for="name_field" class="nes-text is-primary">Name</label>
        <input type="text" id="signup-name" class="nes-input" style="width: 400px;">
      </div>

      <div class="nes-field m-3">
        <label for="name_field" class="nes-text is-primary">Email</label>
        <input type="text" id="signup-email" class="nes-input" style="width: 400px;">
      </div>
    
      <div class="nes-field m-3">
        <label for="name_field" class="nes-text is-primary">Password</label>
        <input type="password" id="signup-password" class="nes-input" style="width: 400px;">
      </div>

   <div class="m-5">
     <button id="signup" type="submit" class="signup-form nes-btn is-success">Sign Up</button>
   </div>
   
  </div>
</form>
</div>

<script src="/js/signup.js"></script>